<template style.bind="style">
  <toast></toast>
  <hotkey-overlay></hotkey-overlay>
  <h1>hotkey-overlay</h1>
  <p>press "f" to activate.</p>

  <button hotkey="k" click.delegate="toast('k')">button (k)</button>
  <button hotkey click.delegate="toast('1')">button (1)</button>
  <button hotkey click.delegate="toast('2')">button (2)</button>
  <button hotkey="u" click.delegate="toast('u')">button (u)</button>
  <footer
    style="
          margin-top: 50px;
          "
  >
    <hr />
    <a hotkey="s" href="https://gitlab.com/gimerstedt/hotkey-overlay-aurelia"
      >source</a
    >
  </footer>
</template>
