<template>
  <div
    style="
    position: absolute;
    right: 50px;
    top: 50px;
    "
  >
    <div
      repeat.for="toast of toasts"
      style="
      padding: 10px;
      margin: 5px;
      width: 100px;
      background-color: #ffa;
      border: 1px solid black;
      "
    >
      ${toast.msg}
    </div>
  </div>
</template>
